@model BusinessObject.Member

<form>
    <br/>
    <div class="container border p-3">
        <h1 class="text-center">Member Details</h1>

        <hr/>
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">ID</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MemberId" value="@Model.MemberId" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Email</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Company Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CompanyName" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">City</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="City" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Country</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Country" class="form-control" disabled/>
            </div>

            <div class="col-10 pb-3">

            </div>
            <div class="col-12">
                <a asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
            </div>
        </div>
    </div>
</form>